@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Jost", sans-serif;
    
    
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    width: 100%;
    border: 1px solid yellow;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
}


/* LOGO */

.logo {
    text-decoration: none;
    margin-left: 20px;
}

/* NAVBAR */

.navbar {
    margin-left: 83px;
}
.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

/* LOGIN + BASKET */

.loginbasket {
    margin-left: 83px;
}

.loginbasket a {
    margin-right: 30px;
}

.login img {
    text-decoration: none;
    width: 50px;
    height: auto;
    filter: invert(100%);
}
.basket img {
    text-decoration: none;
    width: 50px;
    height: auto;
    filter: invert(100%);
}
